<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,280},{93,97}}</string>
                <key>offset</key>
                <string>{-37,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{93,97}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1184},{171,81}}</string>
                <key>offset</key>
                <string>{-36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,68},{171,81}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1209},{175,83}}</string>
                <key>offset</key>
                <string>{-66,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,66},{175,83}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1264},{163,145}}</string>
                <key>offset</key>
                <string>{-63,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{163,145}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,149}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{243,149}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,123},{223,139}}</string>
                <key>offset</key>
                <string>{25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,10},{223,139}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,147},{221,109}}</string>
                <key>offset</key>
                <string>{24,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,40},{221,109}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{181,83}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,66},{181,83}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,601},{167,101}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,48},{167,101}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,145},{93,133}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,16},{93,133}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack18.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1116},{175,101}}</string>
                <key>offset</key>
                <string>{-35,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,48},{175,101}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{185,139}}</string>
                <key>offset</key>
                <string>{-33,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{185,139}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1181},{171,81}}</string>
                <key>offset</key>
                <string>{-36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,68},{171,81}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack20.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{241,143}}</string>
                <key>offset</key>
                <string>{49,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,6},{241,143}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack21.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{241,119}}</string>
                <key>offset</key>
                <string>{49,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,30},{241,119}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack22.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,86},{231,57}}</string>
                <key>offset</key>
                <string>{44,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,92},{231,57}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack23.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,296},{199,75}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,74},{199,75}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,280},{93,97}}</string>
                <key>offset</key>
                <string>{-37,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{93,97}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,704},{177,81}}</string>
                <key>offset</key>
                <string>{-73,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,68},{177,81}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1124},{175,83}}</string>
                <key>offset</key>
                <string>{-72,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,66},{175,83}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,857},{179,83}}</string>
                <key>offset</key>
                <string>{-51,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,66},{179,83}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{183,83}}</string>
                <key>offset</key>
                <string>{-9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{183,83}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,715},{183,83}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{183,83}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,750},{111,97}}</string>
                <key>offset</key>
                <string>{-30,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,52},{111,97}}</string>
                <key>sourceSize</key>
                <string>{339,149}</string>
            </dict>
            <key>huadi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,296},{117,70}}</string>
                <key>offset</key>
                <string>{-117,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{117,70}}</string>
                <key>sourceSize</key>
                <string>{355,86}</string>
            </dict>
            <key>huadi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1401},{135,68}}</string>
                <key>offset</key>
                <string>{-90,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{135,68}}</string>
                <key>sourceSize</key>
                <string>{355,86}</string>
            </dict>
            <key>huadi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,787},{177,68}}</string>
                <key>offset</key>
                <string>{-75,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{177,68}}</string>
                <key>sourceSize</key>
                <string>{355,86}</string>
            </dict>
            <key>huadi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,264},{211,68}}</string>
                <key>offset</key>
                <string>{-56,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{211,68}}</string>
                <key>sourceSize</key>
                <string>{355,86}</string>
            </dict>
            <key>huadi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{241,82}}</string>
                <key>offset</key>
                <string>{-41,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{241,82}}</string>
                <key>sourceSize</key>
                <string>{355,86}</string>
            </dict>
            <key>huadi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1349},{141,80}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,4},{141,80}}</string>
                <key>sourceSize</key>
                <string>{355,86}</string>
            </dict>
            <key>huadi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1267},{159,80}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,4},{159,80}}</string>
                <key>sourceSize</key>
                <string>{355,86}</string>
            </dict>
            <key>huadi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,800},{183,82}}</string>
                <key>offset</key>
                <string>{86,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,2},{183,82}}</string>
                <key>sourceSize</key>
                <string>{355,86}</string>
            </dict>
            <key>huadi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,797},{183,82}}</string>
                <key>offset</key>
                <string>{85,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,2},{183,82}}</string>
                <key>sourceSize</key>
                <string>{355,86}</string>
            </dict>
            <key>idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{183,81}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{183,81}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,715},{183,83}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{183,83}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>idle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,884},{183,81}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{183,81}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>idle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,881},{183,81}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{183,81}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,712},{183,83}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{183,83}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,630},{183,83}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{183,83}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{183,83}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{183,83}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>idle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,630},{183,83}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{183,83}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>idle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,627},{183,83}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{183,83}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>idle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,545},{183,83}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{183,83}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>idle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,545},{183,83}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{183,83}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>idle9.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,800},{183,81}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{183,81}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>lianzhao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1041},{123,109}}</string>
                <key>offset</key>
                <string>{-67,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,66},{123,109}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1166},{123,117}}</string>
                <key>offset</key>
                <string>{-67,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,64},{123,117}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,145},{211,149}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,4},{211,149}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,967},{181,123}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{181,123}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,567},{181,99}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,54},{181,99}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,373},{191,85}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{191,85}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,459},{189,81}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,72},{189,81}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{183,81}}</string>
                <key>offset</key>
                <string>{17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,72},{183,81}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao16.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,542},{183,83}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,70},{183,83}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{215,145}}</string>
                <key>offset</key>
                <string>{-22,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{215,145}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,258},{217,121}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,37},{217,121}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,334},{195,123}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{195,123}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,964},{181,123}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{181,123}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1219},{169,127}}</string>
                <key>offset</key>
                <string>{-25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{169,127}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{217,127}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,26},{217,127}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,883},{181,139}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,14},{181,139}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>lianzhao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{169,143}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{169,143}}</string>
                <key>sourceSize</key>
                <string>{267,187}</string>
            </dict>
            <key>run0.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,460},{184,83}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{184,83}}</string>
                <key>sourceSize</key>
                <string>{196,95}</string>
            </dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,415},{184,91}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,91}}</string>
                <key>sourceSize</key>
                <string>{196,95}</string>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,379},{186,95}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{186,95}}</string>
                <key>sourceSize</key>
                <string>{196,95}</string>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,381},{190,81}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{190,81}}</string>
                <key>sourceSize</key>
                <string>{196,95}</string>
            </dict>
            <key>run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{190,79}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{190,79}}</string>
                <key>sourceSize</key>
                <string>{196,95}</string>
            </dict>
            <key>run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,464},{188,79}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{188,79}}</string>
                <key>sourceSize</key>
                <string>{196,95}</string>
            </dict>
            <key>walk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{176,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1092},{176,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1089},{176,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1024},{176,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,942},{176,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,863},{176,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{176,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1034},{176,88}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{176,88}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaoyu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a0ac52519d030c681a597678578176f$</string>
            <key>textureFileName</key>
            <string>zhaoyu.png</string>
        </dict>
    </dict>
</plist>
