<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{69,78}}</string>
                <key>offset</key>
                <string>{-37,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,60},{69,78}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{191,78}}</string>
                <key>offset</key>
                <string>{14,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,60},{191,78}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,622},{79,78}}</string>
                <key>offset</key>
                <string>{-37,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,60},{79,78}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,78}}</string>
                <key>offset</key>
                <string>{21,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,60},{207,78}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{201,78}}</string>
                <key>offset</key>
                <string>{25,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,60},{201,78}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{69,78}}</string>
                <key>offset</key>
                <string>{-31,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,60},{69,78}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,72},{189,78}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,60},{189,78}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{69,78}}</string>
                <key>offset</key>
                <string>{-37,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,60},{69,78}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{143,112}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,26},{143,112}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{119,138}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{119,138}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,152},{129,132}}</string>
                <key>offset</key>
                <string>{-51,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{129,132}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{197,84}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,54},{197,84}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{195,68}}</string>
                <key>offset</key>
                <string>{16,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,70},{195,68}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,189},{127,68}}</string>
                <key>offset</key>
                <string>{-18,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,70},{127,68}}</string>
                <key>sourceSize</key>
                <string>{251,138}</string>
            </dict>
            <key>idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,429},{115,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,83}}</string>
                <key>sourceSize</key>
                <string>{117,83}</string>
            </dict>
            <key>idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,381},{115,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,83}}</string>
                <key>sourceSize</key>
                <string>{117,83}</string>
            </dict>
            <key>idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,283},{117,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,83}}</string>
                <key>sourceSize</key>
                <string>{117,83}</string>
            </dict>
            <key>idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,410},{115,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,83}}</string>
                <key>sourceSize</key>
                <string>{117,83}</string>
            </dict>
            <key>idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,368},{115,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,83}}</string>
                <key>sourceSize</key>
                <string>{117,83}</string>
            </dict>
            <key>idle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,344},{115,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,83}}</string>
                <key>sourceSize</key>
                <string>{117,83}</string>
            </dict>
            <key>idle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,259},{117,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,83}}</string>
                <key>sourceSize</key>
                <string>{117,83}</string>
            </dict>
            <key>lianzhao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,252},{127,70}}</string>
                <key>offset</key>
                <string>{-38,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{127,70}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,480},{85,86}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,94},{85,86}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,295},{115,84}}</string>
                <key>offset</key>
                <string>{-14,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,96},{115,84}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,363},{115,84}}</string>
                <key>offset</key>
                <string>{-14,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,96},{115,84}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,324},{115,84}}</string>
                <key>offset</key>
                <string>{-14,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,96},{115,84}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,221},{157,144}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{157,144}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,88},{157,152}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{157,152}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,82},{137,170}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{137,170}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,82},{105,180}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{105,180}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{179,146}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{179,146}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,242},{119,128}}</string>
                <key>offset</key>
                <string>{-35,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,52},{119,128}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,189},{119,104}}</string>
                <key>offset</key>
                <string>{-35,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,76},{119,104}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>lianzhao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,568},{83,78}}</string>
                <key>offset</key>
                <string>{-25,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,102},{83,78}}</string>
                <key>sourceSize</key>
                <string>{203,180}</string>
            </dict>
            <key>run0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,454},{111,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,85}}</string>
                <key>sourceSize</key>
                <string>{111,85}</string>
            </dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,367},{111,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,85}}</string>
                <key>sourceSize</key>
                <string>{111,85}</string>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,367},{111,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,85}}</string>
                <key>sourceSize</key>
                <string>{111,85}</string>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,453},{111,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,85}}</string>
                <key>sourceSize</key>
                <string>{111,85}</string>
            </dict>
            <key>walk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,449},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,541},{99,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,79}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{99,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,79}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,532},{99,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,79}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,495},{99,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,79}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{97,79}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,79}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,88},{97,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,171},{97,79}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,79}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,449},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugeliang.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd80987325391a1678d329af9549ede4$</string>
            <key>textureFileName</key>
            <string>zhugeliang.png</string>
        </dict>
    </dict>
</plist>
